.message {
  display: grid;
  grid-template-columns: 32px auto 32px;
  grid-column-gap: 10px;
  margin: 10px;
  box-sizing: border-box;
}

.sender-icon {
  font-size: 16px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: #57617c;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  justify-self: center;
}

.message-sender-login {
  font-size: 14px;
  font-family: 'Evolve Sans';
  font-weight: bold;
}

.message-content-wrapper {
  padding-top: 5px;
  display: flex;
  flex-direction: row;
}

.message-content {
  border-radius: 0 10px 10px 10px;
  padding: 5px 10px;
  width: auto;
  word-break: break-all;
  word-wrap: break-word;
  background: #eeeeee;
}